<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="container">
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="view/productos.html">Productos</a></li>
                    <li><a href="#">servicios</a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <img src="../img/servicio.jpg" alt="">

            <div class="paragraph">
                <h2>Bienvenidos a mi pagina</h2>

                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Neque obcaecati doloremque expedita tenetur labore laboriosam 
                    enim voluptatem quasi reprehenderit accusamus exercitationem vero, 
                    ipsam maxime iusto animi eligendi nam eum molestiae!
                    <video src="../video/video_1.mp4"></video>
                </p>
            </div>
        </main>
        <footer class="social">
            <p>pie de mi pagina</p>

        </footer>
    </div>
    
</body>
</html>